<div class="row mt-5">
    <div class="col-md-5 m-auto">
        <div class="card card-body">
            <h4 style="color: crimson;" class="alert alert-warning alert-dismissible fade show">If the link is not a downloadable URL, then it will download the scripts in that website in .txt format.</h4>
            <form action="/downloadtoserver" method="POST" style="border: 2px solid green;padding: 15px;">
                <input type="text" name="url" style="width: 100%;height: 35px;" placeholder="Paste link here" /><br><br>
                <button type="submit" class="btn btn-success btn-lg btn-block">Save to documentstore</button>
            </form>
        </div>
    </div>
</div>